<div th:fragment="header" id="header">
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">H</span>Shop</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form th:action="@{/products/search}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" name="keyword">
                        <div class="input-group-append">
                            <button type="submit" class="site-btn"
                                    style="border:0px;padding: revert;background-color: #D19C97;">
                                <span class="input-group-text bg-transparent text-primary" style="border: 0px;">
                                    <i class="fa fa-search" aria-hidden="true" style="color: white"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a th:href="@{/cart}" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge badge-cart" th:text="${numberItems}" style="color: red"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-10"
                   data-toggle="collapse" href="#navbar-vertical"
                   style="height: 65px; margin-top: -1px; padding: 0 30px;"
                   th:if="${hasBanner}">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                     id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden">
                        <th:block th:each=" categoriesDTO :${categoriesDTOs}" th:if="${categoriesDTOs}">
                            <a th:if="${categoriesDTO.getManufactures().size() < 1 }"
                               th:text="${categoriesDTO.getName()}"
                               th:href="@{/filter(category=${categoriesDTO.getName()})}"
                            >
                            </a>
                            <div th:if="${categoriesDTO.getManufactures().size() >= 1}" class="nav-item dropdown">
                                <a th:href="@{/products/filter(category=${categoriesDTO.getName()})}" class="nav-link" data-toggle="dropdown">
                                    <span th:text="${categoriesDTO.getName()}"></span>
                                    <i class="fa fa-angle-down float-right mt-1"></i>
                                </a>
                                <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                    <a href="" class="dropdown-item" th:text="${manufacture.getName()}"
                                       th:each="manufacture : ${categoriesDTO.getManufactures()}"
                                       th:href="@{/products/filter(category=${categoriesDTO.getName()},manufacture=${manufacture.getName()})}"
                                        >Baby's Dresses
                                    </a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a th:href="@{/}" class="nav-item nav-link">Home</a>
                            <a th:href="@{/products}" class="nav-item nav-link">Shop</a>
                            <a th:href="@{/cart}" class="nav-item nav-link">Cart</a>
                            <a th:href="@{/checkout}" class="nav-item nav-link ">Checkout</a>
                            <a th:href="@{/account}" class="nav-link nav-item">Account</a>
                            <a th:href="@{/orders}" class="nav-link nav-item">History</a>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0" th:if="${isLogin == null}">
                            <a th:href="@{/login}" class="nav-item nav-link">Login</a>
                            <a href="" class="nav-item nav-link">Register</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0" th:if="${isLogin != null}">
                            <a class="nav-item nav-link" th:text="'Hi ' + ${isLogin}"></a>
                            <a th:href="@{/logout}" class="nav-item nav-link">Logout</a>
                        </div>
                    </div>
                </nav>
                <div class="col-lg-9" th:if="${hasBanner}">
                    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="height: 410px;">
                                <img class="img-fluid" th:src="@{/assets/banner/Banner0.png}" alt="Image">
                            </div>
                            <div class="carousel-item" style="height: 410px;">
                                <img class="img-fluid" th:src="@{/assets/banner/Banner1.png}" alt="Image">
                            </div>
                            
                        </div>
                        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-prev-icon mb-n2"></span>
                            </div>
                        </a>
                        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-next-icon mb-n2"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>